<%= form_for(fuel_statum) do |f| %>
  <% if fuel_statum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fuel_statum.errors.count, "error") %> prohibited this fuel_statum from being saved:</h2>

      <ul>
      <% fuel_statum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :odo, "Odo, km" %>
    <%= f.number_field :odo %>
  </div>

  <div class="field">
    <%= f.label :odo_delta, "Odo delta, km" %>
    <%= f.number_field :odo_delta %>
  </div>

  <div class="field">
    <%= f.label :refueling, "Refueling, l" %>
    <%= f.number_field :refueling %>
  </div>

  <div class="field">
    <%= f.label :price_fuel, "Price fuel, uan" %>
    <%= f.number_field :price_fuel %>
  </div>

  <div class="field">
    <%= f.label :fuel_station, "Fual station" %>
    <%= f.text_field :fuel_station %>
  </div>

  <div class="field">
    <%= f.label :fuel_type, "Mark of fuel" %>
    <%= f.text_field :fuel_type %>
  </div>


  <div class="actions">
    <%= f.submit "Add fuel data"%>
  </div>
<% end %>
