<%= form_for :stata_fuel, url: bike_stata_fuel_path, method: :put do |f| %>

  <div class="fuel-form">
    <div class="field">
      <%= f.label :odo, 'Показания одометра, км ' %>
      <%= f.text_field :odo %>
    </div>

    <div class="field">
      <%= f.label :odo_delta, 'Пробег, км ' %>
      <%= f.text_field :odo_delta %>
    </div>

    <div class="field">
      <%= f.label :refueling, 'Объем заправленного топлива, л ' %>
      <%= f.text_field :refueling %>
    </div>

    <div class="field">
      <%= f.label :price_fuel, 'Стоимость заправленного топлива, грн ' %>
      <%= f.text_field :price_fuel %>
    </div>

    <div class="field">
      <%= f.label :fuel_station, 'Название заправки ' %>
      <%= f.text_field :fuel_station %>
    </div>

    <div class="field">
      <%= f.label :fuel_type, 'Марка бензина ' %>
      <%= f.text_field :fuel_type %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: "btn btn-success btn-sm" %> |
      <%= link_to 'Назад', new_bike_stata_fuel_path, class: "btn btn-default btn-sm" %>
    </div>
  </div>

<% end %>
