<%= form_for :stata_fuel, url: bike_stata_fuels_path, method: :post do |f| %>


    <div class="field">
      <%= f.label :odo, 'odometer value, km ' %>
      <%= f.text_field :odo %>
    </div>

    <div class="field">
      <%= f.label :odo_delta, 'distance traveled, km ' %>
      <%= f.text_field :odo_delta %>
    </div>

    <div class="field">
      <%= f.label :refueling, 'amound of fuel, l ' %>
      <%= f.text_field :refueling %>
    </div>

    <div class="field">
      <%= f.label :price_fuel, 'price of fuel, uan ' %>
      <%= f.text_field :price_fuel %>
    </div>

    <div class="field">
      <%= f.label :fuel_station, 'fuel station name ' %>
      <%= f.text_field :fuel_station %>
    </div>

    <div class="field">
      <%= f.label :fuel_type, 'fuel mark ' %>
      <%= f.text_field :fuel_type %>
    </div>

    <div class="actions">
      <%= f.submit 'Save fuel data' %>
    </div>

<% end %>
