<h2>Create fuel stata </h2>
-----------------------<br/>
<%= @stata_fuel_err.errors.any? %><br/>
<%= @stata_fuel_err.inspect %><br/>
<%= @stata_fuel_err.errors.messages %><br/>
+++++++++++++++++++<br/>
<%= @bike %><br/>
<%= @bike.errors.inspect %><br/>