<h2> Топливная статистика байка <%= @bike.name %>, владелец <%= @bike.user_name %> </h2>

  <% if @stata_err.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
  	    <h2>
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
           При вводе данных возникло ошибок: <%= @stata_err.errors.count %>
        </h2>
            
        <ul>
          <% @stata_err.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>



  <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>

  <%= link_to 'Back', bikes_path %>

<br/>
<hr/>
   
   <%= render 'table_view_stata_fuel' %>