<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
</script>


<style>
  .del { display: none; }
  .del:checked + label + * { display: none; }

  /* вид CSS кнопки */
  .del:not(:checked) + label,
  .del:checked + label {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 2px;
    color: #fff;
    background: #4e6473;
    cursor: pointer;
  }
  .del:checked + label {
    background: #e36443;
  }
</style>






<h2> Топливная статистика байка <%= @bike.name %>, владелец <%= @bike.user_name %> </h2>

  <% if @stata_err.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
  	    <h2>
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
           При вводе данных возникло ошибок: <%= @stata_err.errors.count %>
        </h2>
            
        <ul>
          <% @stata_err.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>


<% get_json_stata_for_charts %>

<div class="row">

  <div class="col-md-6">
    <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>
  </div>


  <div class="col-md-6" align="center">
    <%= render  'fuel_chart', locals: @json_stata_l_na_100_km %>
  </div>

</div>


<div>
    
-------------
  <input type="checkbox" id="raz" class="del" checked="checked" />
  <label for="raz" class="del">еще графики</label>
    <div>
      <%= render 'refueling_chart', locals: @json_stata_refueling %>
    </div>
  
-------------

</div>


<div>
  <hr/>
    <%= render 'table_view_stata_fuel' %>
</div>