<h2> Fuel statistics page </h2>
<p id="notice"><%= notice %></p>


-----------------------<br/>
<% if @stata_err.errors.any? %><br/>
	<%= @stata_err.inspect %><br/>
	+++<%= @stata_err.errors.messages %>
<% end %>


  <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>

  <%= link_to 'Back', bikes_path %>

<br/>
<hr/>
   
   <%= render 'table_view_stata_fuel' %>