<h2> Fuel statistics page </h2>
<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<<<<<<< Updated upstream
=======
<%= @stata_fuel.bike.errors.count %>
	<h2>azzazazazaaa</h2>
          <% @stata_fuel.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>



>>>>>>> Stashed changes
=======

-----------------------<br/>
<% if @stata_err.errors.any? %><br/>
	<%= @stata_err.inspect %><br/>
	+++<%= @stata_err.errors.messages %>
<% end %>


>>>>>>> origin/new_controller
  <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>

  <%= link_to 'Back', bikes_path %>

<br/>
<hr/>
   
   <%= render 'table_view_stata_fuel' %>