<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

  
<h2> Топливная статистика байка <%= @bike.name %>, владелец <%= @bike.user_name %> </h2>

  <% if @stata_err.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
  	    <h2>
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
           При вводе данных возникло ошибок: <%= @stata_err.errors.count %>
        </h2>
            
        <ul>
          <% @stata_err.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
------
<% stata_l_na_100_km %>
<%= @stata_graph %>
------

<div id="chartDiv"></div>
  <script>
    var chartData = {
      type: "bar",  // Specify your chart type here.
      title: {
        text: "My First Chart" // Adds a title to your chart
      },
      legend: {}, // Creates an interactive legend
      series: [  // Insert your series data here.
          { values: <%= JSON.parse(@json_stata) %> }
      ]
    };
    zingchart.render({ // Render Method[3]
      id: "chartDiv",
      data: chartData,
      height: 400,
      width: 600
    });
  </script>


  json:  <%= JSON.parse(@json_stata) %>


  <%= render 'form_fuel_create', stata_fuel: @stata_fuel %>
<div>
<br/>

<hr/>
   
   <%= render 'table_view_stata_fuel' %>
</div>