<nav class="navbar navbar-default">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""><%= image_tag "tkm_logo_sm.png", :style => "height: 70px; float :left;" %></a>
    </div>

    <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= "class=active" if current_page?('/home/start') %> ><%= link_to "Главная", home_start_path %></li>
        <li <%= "class=active" if current_page?('/home/about') %>><%= link_to "О проекте", home_about_path %></li>
        <li <%= "class=active" if current_page?('/bikes') %>><%= link_to "Мото Статистика", bikes_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сравнение<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">по топливу</a></li>
            <li><a href="#">по ремонту</a></li>
            <li><a href="#">по пробегу</a></li>
            <li><a href="#">по местам посещения</a></li>
            <li><a href="#">вероятные отказы</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <span id="log-in_username_style">
              Вы вошли как <%= current_user.username %>
            </span>
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          <% else %>
            <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Войти', new_user_session_path, class: "btn btn-success btn-sm" %> 
            <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </li>

      </ul>
    </div>
</nav>